.SoundDisplay {
  text-align: center;

  &_label {
    display: inline-block;
    margin: 0 auto;
    font-size: $soundDisplay-font-size;
    font-weight: 700;
  }

  &_output {
    display: flex;
    width: 15rem;
    min-height: 8rem;
    align-items: center;
    justify-content: center;
    padding: $soundDisplay-spacing-unit;
    border: 1px solid #000000;
    margin: $soundDisplay-spacing-unit auto;
    background-color: $color-display;
  }
}
