.Footer {
  padding: 2rem;
  background-color: $color-footer;

  &_content {
    display: flex;
    max-width: 70rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: calc(var(--font-size-p) * 1.2);
  }

  &_sourceCode {
    font-size: inherit;
  }
}
