* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
}

/* stylelint-disable selector-class-pattern, selector-pseudo-class-no-unknown */
html,
body,
:global(.root) {
  height: 100%;
  min-height: 100%;
  margin: 0;
}
/* stylelint-enable */
